#RobotEnJuego {
    width: 21px;
    height: 21px;
    position: absolute;
    background-color: red;
}

#RobotEnJuego img {
    display: block;
    width: 21px;
    height: 21px;
}

#RobotEnJuego .nombre {
    position: absolute;
    top: 4px;
    font-size: 15px;
}

#RobotStats {
    width: 450px;
    height: 180px;
    position: absolute;
    left: 120px;
    border: solid 5px black;
    background-color: lightgrey;
}

#RobotStats img {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: white;
}

#RobotStats .nombre {
    position: absolute;
    top: 18px;
    left: 65px;
    font-size: 25px;
    word-spacing: 5px;
}

#RobotStats .maxvida {
    position: absolute;
    left: 15px;
    top: 65px;
    width: 350px;
    height: 22px;
    background-color: red
}

#RobotStats .vida {
    position: absolute;
    left: 15px;
    top: 65px;
    width: 350px;
    height: 22px;
    background-color: green
}

#RobotStats .vidatext {
    position: absolute;
    left: 380px;
    top: 65px;
    font-size: 25px;
}

#RobotStats .mira {
    position: relative;
    left: -20px;
    top: 90px;
    font-size: 25px;
    word-spacing: 5px;
}

#RobotStats .motor {
    position: relative;
    left: 40px;
    top: 90px;
    font-size: 25px;
    word-spacing: 5px;
}

:root {
    --xinit_0: 0;
    --yinit_0: 1000px;
    --xfinal_0: 1000px;
    --yfinal_0: 1000px;
    --xinit_1: 0px;
    --yinit_1: 0px;
    --xfinal_1: 500px;
    --yfinal_1: 200px;
    --xinit_2: 1000px;
    --yinit_2: 1000px;
    --xfinal_2: 0px;
    --yfinal_2: 0px;
    --xinit_3: 1000px;
    --yinit_3: 0px;
    --xfinal_3: 1000px;
    --yfinal_3: 890px;
}

@keyframes animate_0 {
    from {
        left: var(--xinit_0);
        top: var(--yinit_0);
    }
    to {
        left: var(--xfinal_0);
        top: var(--yfinal_0);
    }
}

@keyframes animate_1 {
    from {
        left: var(--xinit_1);
        top: var(--xinit_1);
    }
    to {
        left: var(--xinit_1);
        top: var(--xinit_1);
    }
}

@keyframes animate_2 {
    from {
        left: var(--xinit_2);
        top: var(--xinit_2);
    }
    to {
        left: var(--xinit_2);
        top: var(--xinit_2);
    }
}

@keyframes animate_3 {
    from {
        left: var(--xinit_3);
        top: var(--xinit_3);
    }
    to {
        left: var(--xinit_3);
        top: var(--xinit_3);
    }
}
